/* GENERAL STYLING */
:root{
    --mainAzureColor: #CCFAFE;
    --darkTurquiseColor: #023f45;
    --darkerAzureColor: #63E4EE;
    --purpleAccentColor: #8A83F9;
    --pinkAccentColor: #FED0CC;
    --babyPinkAccentColor: #ffb7ce;
    /* --purpleAccentColor: #8A83F9; */
    --purpleAccentColor: #FED0CC;
    /*  */

    --white: #ffffff;
    --black: #000000;
}

.btnHeight{
    height: 50px;
}

.darkerAzureBg{
    background-color: var(--darkerAzureColor);
}

.purpleAccentTxt{
    color: var(--purpleAccentColor);
}

.purpleAccentBg{
    background-color: var(--purpleAccentColor);
}

.softPinkBg{
    background-color: var(--pinkAccentColor);
}

.navTextWeight{
    font-weight: bolder;
}

.noBorder{
    border: none;
}

.darkTurquiseBg{
    background-color: var(--darkTurquiseColor);
}

.darkTurquiseTxt{
    color: var(--darkTurquiseColor);
}

.italicsTxt{
    font-style: italic;
}

.navBarBg{
    background: linear-gradient(var(--darkerAzureColor),  var(--mainAzureColor));
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 50;
}

.footerBgGeneral{
    background: linear-gradient(var(--mainAzureColor), var(--darkerAzureColor));
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.footerBgProductPg{
    background: linear-gradient(var(--mainAzureColor), var(--darkerAzureColor));
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.fitWidthToContent{
    min-width: fit-content;
}


.mainAzureBg{
    background-color: var(--mainAzureColor);
}

.mainAzureTxt{
    color: var(--mainAzureColor);
}

.blackTxt{
    color: var(--black);
}


.sofiaText{
    font-family: sofia;
}

.robotoText{
    font-family: roboto;
}

.boldText{
    font-weight: bolder;
}


/* LANDING PAGE */
#landingPgPic{
    max-width: 250px;
    max-height: 300px;
}

.darkerAzureBoxShadow{
    box-shadow: 0px 0px 30px 10px var(--darkerAzureColor);
    /* 1st number = x-offset */
    /* 2nd number = y-offset */
    /* 3rd number =  how opaque blur gets*/
    /* 4th number = how wide blur goes */
}

.purpleAccentBoxShadow{
    box-shadow: 0px 0px 30px 10px var(--purpleAccentColor);
    /* 1st number = x-offset */
    /* 2nd number = y-offset */
    /* 3rd number =  how opaque blur gets*/
    /* 4th number = how wide blur goes */
}


/* ABOUT PAGE */
.darkTurquiseBoxShadow{
    box-shadow: 0px 0px 30px 10px var(--darkTurquiseColor);
    /* 1st number = x-offset */
    /* 2nd number = y-offset */
    /* 3rd number =  how opaque blur gets*/
    /* 4th number = how wide blur goes */
}

/* PRODUCT PAGE */
.productImg{
    max-width: 80px;
}

.createdDivWidth{
    max-width: 270px;
}

.productBorder{
    border-style: solid;
    border-color: var(--darkerAzureColor);
    border-width: 3px;
}

.mainHeadingText{
    font-family: roboto;
    font-weight: bolder;
    color: var(--darkTurquiseColor);
}

.mainBtnStyling{
    border: solid;
    border-color: var(--pinkAccentColor);
    box-shadow: 0px 0px 30px 10px var(--pinkAccentColor);
}

.pinkBoxShadow{
    box-shadow: 0px 0px 30px 10px var(--pinkAccentColor);
}

.navBarZindex{
    z-index: 1;
}

.sortBtnZindex{
    z-index: -1;
}

.nav-link :active{
    text-decoration: underline;
}

/* CONTACT PG STARTS HERE */

.marginLeft{
    width: fit-content;
    margin-left: 95%;
}

.inputWidth{
    width: 100%;
}

.fixColumnWidth{
    min-width: 250px;
}


.iconStyling{
    color: var(--darkTurquiseColor);
    box-shadow: 0px 0px 30px 10px var(--darkTurquiseColor);
}

.iconSpacing{
    margin-top: 100px;
    margin-inline-start: 20%;
}
.bottomRowMargin{
    margin-bottom: 100px;
    margin-top: 50px;
    margin-inline-start: 20%;
}

/* CONTACT PG ENDS HERE */

/* CHECKOUT PG STARTS HERE */
.quantityInput{
    width: 50px;
}
/* CHECKOUT PG STARTS HERE */

/* How to make a hoverFill for a button */
/* .mainBtnStyling:hover{
    background-color: var(--babyPinkAccentColor);
} */